@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  font-family: "Arial", "Helvetica", sans-serif;

  background-color: $bgGrey;
}

table {
  border-collapse: collapse;
}

.main-table {
  width: 320px;
}

.main-table__cell {
  width: 100%;

  vertical-align: top;

  &--header {
    height: 90px;
  }

  &--title {
    padding-top: 55px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  &--order {
    padding: 20px;
  }

  &--item {
    padding: 20px;

    background-color: #ffffff;
  }

  &--total {
    padding: 20px;

    background-color: #ffffff;
  }
}

.main-table__heading {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
}

.main-table__order-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.main-table__title {
  &--item {
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
  }
}

.header {
  width: 100%;
  height: 90px;
  padding: 20px;

  background-color: $bgBlack;
}

.header__cell {
  &--align-right {
    text-align: right;
  }
}

.header__link {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;

  &--phone {
    display: none;
  }
}

.order__cell {
  height: 36px;

  &--left {
    width: 112px;

    font-size: 12px;
    color: $grey;
  }

  &--count {
    width: 168px;

    font-size: 14px;
    font-weight: bold;
    color: $green;

    & span {
      border-bottom: 1px dotted $green;
    }
  }

  &--right {
    width: 168px;

    font-size: 12px;
    font-weight: bold;
    color: $black;
  }

  &--pay {
    width: 168px;
  }
}

.order__link {
  display: block;
  width: 100%;
  height: 36px;

  font-size: 14px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

  background-color: $green;
}

.list__cell {
  border-bottom: 1px solid #e7e7e7;
}

.item {
  width: 280px;
}

.item__cell {
  &--img {
    width: 112px;
  }
}

.item__img {
  display: block;
  width: 90px;
  height: auto;
}

.description {
  width: 168px;
}

.description__title {
  padding: 10px 0;
  border-bottom: 1px solid #e7e7e7;
}

.description__product-name {
  font-size: 14px;
  line-height: 18px;
}

.description__spec {
  font-size: 10px;
  line-height: 18px;
  color: $grey;
}

.description__wrap {
  padding: 10px 0;
  width: 168px;

  text-align: right;
}

.sale {
  width: 100%;
}

.sale__wrap {
  width: 68px;
  padding: 3px;

  text-align: center;

  background-color: #f7f7f7;
  border-radius: 5px;
}

.sale__title {
  margin: 0;

  font-size: 12px;
}

.sale__count {
  padding: 2px;
  margin: 0;

  font-size: 16px;
  font-weight: bold;

  background-color: $yellow;
  border-radius: 5px;
}

.sale__cell--price {
  text-align: right;
}

.price__old {
  font-size: 12px;
  color: $grey;
}

.price__new {
  font-size: 14px;
}

.total {
  width: 280px;
}

.total__cell {
  font-size: 14px;
  line-height: 20px;
  color: $grey;

  &--right {
    text-align: right;
  }

  &--total {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
  }
}
